/Lab4/nbproject/private/
/Lab4/StudentManagement/nbproject/private/
/Lab4/StudentManagement/build/
/Lab4/StudentManagement/dist/
/Student_Management/nbproject/private/
/Student_Management/dist/
/Student_Management/build/
/student-management-mvc-l5/target/
